.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.banner-info-container span{
    font-family: 'Dancing Script';
    font-size: 14px;
    color: #FFDC8D;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 10px;
}

.banner-image-container{
    display: none;
}

.banner-content-container{
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 100%;
}

.banner-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-info-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display";
    font-size: 40px;
    line-height: 110px;
    font-weight: 900;
}

.banner-info-title img{
    height: 35px;
}

.barber-word{
    color: #bf9456;
    text-shadow: 1px 1px 1px black;
    font-family: "Playfair Display";
}

.shop-word{
    color: #121212;
    text-shadow: 1px 1px 1px #bf9456;
    font-family: "Playfair Display";
}

.banner-info-container p{
    color: #FFF;
    font-weight: 700;
    font-family: 'Dancing Script';
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px black;
}

.banner-info-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner-button{
    color: #FFF !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    border-radius: 100px !important;
    height: 50px !important;
    border: 2px solid white !important;
    width: 250px;
}

.banner-button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.banner-calendar-and-hours{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.banner-calendar-and-hours p {
    color: black;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-shadow: none;
    font-style: italic;
    margin-bottom: 0;
}

.options-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:576px){
    .banner-info-container span{
        font-size: 25px;
    }

    .banner-info-title{
        font-size: 70px;
    }

    .banner-info-title img{
        height: 50px;
    }

    .banner-info-container p{
        font-size: 30px;
    }

    .banner-button{
        font-size: 20px !important;
        width: 450px;
    }

    .banner-calendar-and-hours p {
        font-size: 18px;
    }
}

@media(min-width:768px){

    .banner-info-title{
        font-size: 100px;
    }

    .banner-info-title img{
        height: 75px;
    }

    .banner-button{
        font-size: 20px !important;
        width: 500px;
    }

    .banner-calendar-and-hours p {
        font-size: 20px;
    }
}

@media(min-width:1200px){
    .banner-container{
        height: 880px;
    }

    .banner-image-container{
        display: unset;
    }
    
    .banner-image-container img{
        height: 550px;
    }
    
    .banner-content-container{
        padding: 30px;
    }
}