.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-container-banner, .home-container-about-us{
    width: 100%;
}

.home-container-barbers{
    width: 100%;
}

.home-container-location{
    width: 100%;
}