.barbers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #121212d5;
    padding: 20px;
}

.barbers-container h1{
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.barbers-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.barbers-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barbers-title{
    margin-bottom: 20px;
}

.barbers-title img{
    height: 40px;
}

.barbers-container p {
    margin-top: 20px;
    text-align: center;
    color: #dbdbdb;
    font-size: 18px;
    font-style: italic;
}