.admin-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-crud-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:1200px){
    .admin-container{
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
}