.filter-main-container {
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 80px;
    display: flex;
    align-items: center;
}

.filter-input{
    height: 45px;
    width: 250px;
    background-color: #fff;
    color: #E74946;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 12px 5px 12px 20px;
}

.filter-input::placeholder{
    color: silver;
}
