.location-container{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.location-content-container{
    margin-top: 30px;
    width: 1000px;
}

.location-container h1{
    color: black;
    text-shadow: 1px 1px 1px white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.location-adress-container{
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.location-adress-container h4{
    display: flex;
    align-items: center;
    color: #535353;
    font-size: 26px;
    margin-bottom: 10px;
}

.location-adress-container h5{
    display: flex;
    align-items: center;
    font-style: italic;
    color: darkgray;
    font-size: 18px;
    margin-bottom: 10px;
}

.location-map-container{
    width: 1000px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.location-container img{
    height: 40px;
}